
body {
 background-color:#484848 ;
}
/* #9B3133  #C1A580 */
.nav {
 position:absolute; 
  width:100%;
  top:0;
  left:0;
  
}
.btn {
 
  
 text-decoration: none;
  color:white;
  font-size:35px;
  font-family: 'Passion One';
  display:inline-block;
  text-shadow: 0px 2px 5px #3c3c3c;
  float:left;
  width: calc(100% / 5 - 1px);
  text-align: center;
  line-height: 80px;
transition: all .25s;
 
}
.btn:hover {
  
  box-shadow: inset 0px -5px white; 
  background-color:#505050;
  color:#B44040;
  
}
.btn:active {
  box-shadow: inset 0px 0px #993232; 
}
.twd {
  opacity:0;
  color:#d9d9d9;
  font-family:'Passion One';
  font-size:10vw;
  position:relative;
  top:150px;
  text-shadow: 0px 2px 5px #3c3c3c;
  
  transition: all .25s ease-in-out;
}



.twd:hover {
  color:#b44040;
  
}

.banner {
  z-index: -1;
  position:absolute;
  left:0;
  bottom:0;
  top:0;
  background-image: url('http://i.imgur.com/Oubp3PS.png');
  background-repeat: no-repeat;
  background-size: 100%;
    width:100%;
  height:50vw;
}
.fa {
 color:white;
  vertical-align: middle;
  font-size:50px;
}
.as {
 text-align:center;
  position:absolute;
  bottom:10px;
  text-align: center;
  width:99%;
}
.soc {
position:relative;
  display:inline-block;
  padding:50px;
  opacity: 0;
  margin-left:-4px;
  text-decoration:none;
  
  transition: all .25s ease-in-out;
}
.soc:hover {
  -ms-transform: translate(0px,10px);
  -webkit-transform: translate(0px,10px); 
  transform: translate(0px,10px); 
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.43);
    background-color:white;
}
.soc:active {
  box-shadow:0px 0px rgba(0,0,0,0.43); 
}
.twitter {
background-color:#1dcdd4;
}
.twitter:hover {
 color:#1dcdd4;
  
}

.quizup {
  background-image: url('http://i.imgur.com/c0Z6ZtL.png') ;
    background-size:70px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position:center;
  background-color:#F55152;
  height:48px;
  width:50px;
}
.quizup:hover {
  background-image: url('http://i.imgur.com/Zn8YNvG.png');
}
.subtitle {
 position:relative;
  top: 15vw;
  font-family:'Passion One';
  color:white;
  font-size:3vw;
}
.logo {
 width:30px; 
  vertical-align: middle;
  position:fixed;
  right:0;
  bottom:0;
  opacity:.5;
  transition: all .25s ease-in-out;
}
.logo:hover {
 opacity:1; 
}
.lang {
  text-decoration:none;
  color:white;
  font-family:'Arial';
  background-color:#318cdf;
  padding: 5px;
  box-shadow: 0px 3px #185394;
  position:absolute;
  display:inline-block;
  width:80px;
  right:0;
  text-align: center;
  transition: all .25s ease-in-out;
}
.lang:hover {
  width:100px;
  box-shadow: 0px 0px #185394;
  background-color:#2576bf;

}
