body {
  background-color:#484848;
}
.nav {
width:100%;
  position:absolute;
  top:-5px;
  left:0;
}
.btn {
 text-decoration:none;
  display:block;
  width:100%;
  text-align:center;
  color:white;
  font-family: 'Passion One';
  font-size:25px;
  background-color:#993232;
  margin-top:5px;
  border-radius:2px;
}
.twd {
 position:relative;
  top:160px;
  font-size:45px;
  color:white;
  font-family:'Passion One';
}
.banner {
 position:absolute;
  top:200px;
  left:0;
  z-index: -1;
  background-image: url('http://i.imgur.com/Oubp3PS.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
  width:100%;
  height:160px;
  
  
}
.subtitle {
  width:100%;
 position:relative;
  top:200px;
  text-align:center;
  color:white;
  text-shadow: 0px 2px 5px #3c3c3c; font-size:23px;
  white-space: nowrap;
  font-family:'Passion One';
  opacity:0;
  visibility: hidden;
}
.lang {
 position: absolute;
  right:0;
  bottom:0;
  border-radius:2px;
  text-decoration:none;
  color:white;
  font-size:10px;
  font-family:'arial';
  background-color:#318BDE;
  padding:2px;
}
.soc {
 width:100%;
  text-align:center;
  position:relative;
  top:150px;
  text-decoration:none;
  color:white;
  display:block;
  padding:0;
  
}
.twitter {
  position:relative;
  top:100px;
  background-color:#1DCDD4;
  box-shadow: 0px 2px #0071ff;
}
.quizup {
position:relative;
  top:105px;
  background-color:#F76D6E;
  font-size:35px;
  box-shadow: 0px 2px #a22e2f;
}
.quizup:after {
  content:'QuizUp';
    width:100%;
 font-family:'Passion One';
 
}
.logo {
 width:20px;
  height:20px;
  z-index: +1;
  position:fixed;
  bottom:0;
  left:0;
}
